@model IEnumerable<CMS_Individueel_Project.Data.Models.Verkoop>


@{
    ViewData["Title"] = ViewBag.KoperNaam;
}

<h1>@ViewBag.KoperNaam</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lamp.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aantal)
            </th>
            <th>
                Totaal
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lamp.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aantal)
            </td>
            <td>
                @(item.Aantal * item.Lamp.Prijs)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
