@model Business_Logic.Models.Lamp

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lamp</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Watt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Watt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kleur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kleur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Aantal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Aantal)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
