@model IEnumerable<Content_Management_System.Models.Lamp>

@{
    ViewData["Title"] = "Inventaris";
}

<h1>Inventaris</h1>

<p>
    <a asp-controller="Lamp12" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Watt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kleur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aantal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Watt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kleur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aantal)
            </td>
            <td>
                   |
                <button asp-page-handler="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to delete?')" class="btn btn-danger btn-sm">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>
