@{
    ViewBag.Title = "Inventaris";

    public static WebMatrix.Data.Database Open("https://phpmyadmin.hera.fhict.nl/tbl_structure.php?db=dbi459530&table=lampen");
    var selectQueryString = "SELECT * FROM Lampen ORDER BY id";
}
<html>
<body>
    <h2>@ViewBag.Title.</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Model</th>
            <th>Watt</th>
            <th>Volt</th>
        </tr>
        @foreach (var row in db.Query(selectQueryString))
        {
            <tr>
                <td>@row.id</td>
                <td>@row.Model</td>
                <td>@row.Watt</td>
                <td>@row.Volt</td>
            </tr>

        }
    </table>
</body>
</html>
